Source: hildon-desktop
Section: x11
Priority: optional
Maintainer: Arthur Demchenkov <spinal.by@gmail.com>
Build-Depends:
 libmatchbox2-dev (>= 0.2.99),
 maemo-system-services-dev,
 libhildondesktop1-dev,
 libgnome-menu-3-dev,
 maemo-launcher-dev,
 libhildonmime-dev,
 libprofile-dev,
 mce-dev,
Standards-Version: 4.3.0

Package: hildon-desktop
Architecture: any
Multi-arch: same
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 ${launcher:Depends},
 maemo-af-desktop-l10n-mr0 | maemo-af-desktop-l10n-mr,
 hildon-theme | hildon-theme-devel (>= 5.10.19-1),
 ke-recv-l10n-mr | ke-recv-l10n-mr0,
 maemo-system-services,
 clipboard-manager,
 osso-af-startup,
 ke-recv-extra,
 hildon-icons,
 theme-config,
Description: Hildon desktop for Maemo Leste
