#!/usr/bin/make -f
%:
	dh $@

ifeq (,$(findstring nolauncher,$(DEB_BUILD_OPTIONS)))
ENABLE_LAUNCHER += --enable-maemo-launcher
endif

ifeq (,$(findstring debug,$(DEB_BUILD_OPTIONS)))
DEB_CPPFLAGS_MAINT_APPEND += -DG_DEBUG_DISABLE
else
DEB_CFLAGS_MAINT_APPEND += -O0
endif

DEB_CPPFLAGS_MAINT_APPEND += -DG_DISABLE_CHECKS
DEB_CFLAGS_MAINT_APPEND   += -Winline

export DEB_CPPFLAGS_MAINT_APPEND DEB_CFLAGS_MAINT_APPEND

CONFFLAGS += \
	$(ENABLE_LAUNCHER) \
	--enable-static-mb2=yes

override_dh_auto_configure:
	dh_auto_configure -- $(CONFFLAGS)

override_dh_installinit:
	dh_installinit --no-start

binary-install/hildon-desktop::
	dh_maemolauncher
	cp src/hildon-desktop-keys.schemas debian/hildon-desktop/usr/share/gconf/schemas/
	dh_installxsession -u 'post 20'
	dh_installxsession --init-script='hildon-desktop-wait' -u 'post 21'

# Save SSU d/l volume.
ifneq (,$(filter $(DEB_BUILD_ARCH),armel armhf))
binary-post-install/hildon-desktop::
	rm -rf "debian/hildon-desktop/usr/share/doc"
endif
